@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap");

* {
  font-family: "Montserrat";
  margin: 0;
  font-size: 10px;
}

@media screen and (min-width: 1000px) {
  * {
    font-size: 15px;
  }
}
